Importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing dataset.

In [17]:
df=pd.read_csv("/content/drive/MyDrive/insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [18]:
df.shape

(1338, 7)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [20]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [21]:
df.duplicated().sum()
df=df.drop_duplicates()

Converting categorical columns to numerical.

In [22]:
df["sex"].unique()

array(['female', 'male'], dtype=object)

In [23]:
df["sex"]=df["sex"].map({"male":1,"female":0})
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [24]:
df["smoker"].unique()

array(['yes', 'no'], dtype=object)

In [25]:

df["smoker"]=df["smoker"].map({"yes":1,"no":0})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [26]:
df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [27]:
df["region"]=df["region"].map({"southwest":1,"southeast":2,"northwest":3,"northeast":4})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

Selecting feature ans target variables.

In [29]:
x=df.drop(["charges"],axis=1)
y=df["charges"]

In [30]:
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       1
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       3
4      32    1  28.880         0       0       3
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       3
1334   18    0  31.920         0       0       4
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       1
1337   61    0  29.070         0       1       3

[1337 rows x 6 columns]

In [31]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

Performing train test split on x and y.

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

Importing various regression models.

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [36]:
lr=LinearRegression()
sv=SVR()
RFR=RandomForestRegressor()
GBR=GradientBoostingRegressor()

In [37]:
lr.fit(x_train,y_train)
sv.fit(x_train,y_train)
RFR.fit(x_train,y_train)
GBR.fit(x_train,y_train)

GradientBoostingRegressor()

In [39]:
y1=lr.predict(x_test)
y2=sv.predict(x_test)
y3=RFR.predict(x_test)
y4=GBR.predict(x_test)

In [40]:
df1 = pd.DataFrame({'Actual':y_test,'Lr':y1,
                  'svm':y2,'rf':y3,'gr':y4})

Actual values of y and the predicted values of y are displayed in the dataframe.

In [41]:
df1.head()

          Actual            Lr          svm            rf            gr
1248   1633.9618   5135.591915  9379.176452   2361.038267   2378.234630
610    8547.6913   9548.729950  9507.997122  10338.349610   9252.023699
393    9290.1395  11345.567434  9520.240956   9241.665653  10780.092135
503   32548.3405  26079.305705  9374.627738  34707.049201  37785.970769
198    9644.2525   7090.123962  9524.059463  10911.100118   9839.051376

In [42]:
from sklearn import metrics

In [43]:
score1 = metrics.r2_score(y_test,y1)
score2 = metrics.r2_score(y_test,y2)
score3 = metrics.r2_score(y_test,y3)
score4 = metrics.r2_score(y_test,y4)

In [44]:
print(score1,score2,score3,score4)

0.7631717420685994 -0.10994569700920453 0.8475989197747982 0.8624146126610865

**Gradient boost regression model suits the best on the dataset.**

In [47]:
s1 = metrics.mean_absolute_error(y_test,y1)
s2 = metrics.mean_absolute_error(y_test,y2)
s3 = metrics.mean_absolute_error(y_test,y3)
s4 = metrics.mean_absolute_error(y_test,y4)

In [48]:
print(s1,s2,s3,s4)

4239.713939585066 8937.176486872122 2789.7427495412935 2656.490238508554

**Also, seen here the mean absolute error is least for gradient regression model.**

Predicting the value of charges for the new values.

In [49]:
data = {'age' : 40,
        'sex' : 1,
        'bmi' : 40.30,
        'children' : 4,
        'smoker' : 1,
        'region' : 2}

In [50]:
d = pd.DataFrame(data,index=[0])
d

   age  sex   bmi  children  smoker  region
0   40    1  40.3         4       1       2

In [51]:
new_pred = GBR.predict(d)
print("Medical Insurance cost for New Customer is : ",new_pred[0])

Medical Insurance cost for New Customer is :  43448.265439804374

Now, fitting the whole dataset on the model for better accuracy.

In [52]:
gr = GradientBoostingRegressor()
gr.fit(x,y)

GradientBoostingRegressor()

In [53]:
new_pred = gr.predict(d)
print("Medical Insurance cost for New Customer is : ",new_pred[0])

Medical Insurance cost for New Customer is :  42353.555973921444

In this way, we can generate near to accurate value of charges for the new dataset values using gradient boost regressor model.